@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton+SC&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Chicle&family=Courgette&family=Didact+Gothic&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lobster&family=Londrina+Solid:wght@100;300;400;900&family=News+Cycle:wght@400;700&family=Original+Surfer&family=Playwrite+ES:wght@100..400&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poller+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Spicy+Rice&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

h1{
  font-family: 'Courgette', sans-serif;
  font-size: 35px;
  @media (min-width: 601px) {
    font-size: 55px;
  }
}

h2{
  font-family:'Courgette', sans-serif;
  font-size: 30px;
    @media (min-width: 601px) {
    font-size: 48px;
  }
}

h3{
  font-family:'Courgette', sans-serif;
  font-size: 27px;
    @media (min-width: 601px) {
    font-size: 40px;
  }
}

h4{
  font-family:'Courgette', sans-serif;
  font-size: 24px;
    @media (min-width: 601px) {
    font-size: 33px;
  }
}



li {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

a {
    font-family:'Inter', sans-serif ;
    font-size: 16px;
}
